<section class='content'>
<div class='container'>
<div class='box-primary box'>
<div class='box-header with-border'>
<h1 class='box-title'>Global Tracking</h1>
</div>
<div class='box-body'>
<div class="form-group">

<div class='container'>
<div class='box-primary box'>
<div class='box-header with-border'>
<h1 class='box-title'>Demo</h1>
</div>
<div class='box-body'>
<div class='form-group'>
<button type='button' mat-raised-button color="accent" (click)="go_adduser()">Add New</button>
</div>
<ng-template #container></ng-template>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</section>